@model TAG_HELPERS_01.Models.MovieSimple
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model._Title</title>
</head>
<body>

    <form method="post" asp-controller="MovieList" asp-action="MovieList"></form>

</body>
</html>