@model TAG_HELPERS_01.Models.MovieListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

 

    <form asp-action="MovieList" method="post">
        <input asp-for="ListTitle" placeholder="First name" />
        <input asp-for="ListTitle" placeholder="Last name" />

        <select asp-items="@(new SelectList(Model.movies))" asp-for="ListTitle"></select>

        <input type="submit" value="Save" />
    </form>

</body>
</html>