@model IEnumerable<TAG_HELPERS_03.Models.Movie>
@{
    Layout = null;
}

    <ul>
        @foreach (var movie in Model)
        {
        <li>
            <a asp-controller="Movie" asp-action="List" asp-route-id="@movie.Id">@movie.Title</a>
        </li>
        }
    </ul>



